<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Quiz">
        <meta name="author" content="Jesxtra">

        <script type="text/javascript" src="../Libs/JQueryUI/JQuery.js"></script>
        <script type="text/javascript" src="../Libs/JQueryUI/jquery-ui.js"></script>
        <script type="text/javascript" src="../Libs/Bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="JS/inputFunctions.js"></script>
        <script type="text/javascript" src="JS/functions.js"></script>
        <script type="text/javascript" src="JS/ajaxfunctions.js"></script>

        <link rel="stylesheet" type="text/css" href="../Libs/Bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../Libs/Bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../Libs/JQueryUI/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="CSS/general.css">

        <title>|title|</title>
    </head>
    <body role="document">
        |NavBar|  
         <div class="container theme-showcase" role="main">
            <div class="site-wrapper">
                <div class="site-wrapper-inner">
                    <div class="cover-container">
                        <div class="inner cover">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Quiz</h3>
                                </div>
                                <div class="panel-body">
                                    <p class="lead">Bienvenido a Quiz</p>
                                    <p class="lead">« |Username| »</p>
                                    <p class="lead">
                                        |Cuestionarios|
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    Quiz, Plataforma para crear Cuestionarios de manera simple
                </p>
            </div>
        </footer>    
  </body>
</html>