<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Quiz">
        <meta name="author" content="Jesxtra">

        <script type="text/javascript" src="../Libs/JQueryUI/JQuery.js"></script>
        <script type="text/javascript" src="../Libs/JQueryUI/jquery-ui.js"></script>
        <script type="text/javascript" src="../Libs/Bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="JS/functions.js"></script>
        <script type="text/javascript" src="JS/inputFunctions.js"></script>
        <script type="text/javascript" src="JS/ajaxfunctions.js"></script>

        <link rel="stylesheet" type="text/css" href="../Libs/Bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../Libs/Bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../Libs/JQueryUI/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="CSS/general.css">

        <title>|title|</title>
    </head>
    <body role="document">
        |NavBar|
        <div class="container theme-showcase" role="main">
            <div class="panel panel-info" id='main'>
                <div class="panel-heading">
                    <h3 class="panel-title">Menu de Cursos</h3>
                </div>
                <div class="panel-body" id='panel-body'>
                    <form class="navbar-form" id='simpleSearch' onsubmit="return false;">
                        <div class="well" style="text-align: center;">
                            <div class="input-group">
                                <input type="text" id="inputSimple" class="form-control" placeholder="ID ^or^ ^Names^" onkeyup="inputCharacter('inputSimple')">
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-success" style="margin-top: 0px; margin-left: 3px" onclick="simpleSearch('curso_menu.php')">
                                        <img src="icons/searchLight.png" height="10px">
                                    </button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-no-inside" onclick="href('curso_menu.php');">
                                <img src="icons/cursoLight.png" height="30px">Mostrar Todos
                            </button>
                            <button type="button" class="btn btn-success btn-no-inside" onclick="href('curso_insertar.php');">
                                <img src="icons/plusLight.png" height="30px"> Agregar
                            </button>
                            <button type="button" class="btn btn-success btn-no-inside" onclick="hiddenElement('simpleSearch', 'true'); hiddenElement('advancedSearch', 'false');">
                                Búsqueda Avanzada
                            </button>
                        </div>
                    </form>
                    <form class="navbar-form" id="advancedSearch" hidden onsubmit="return false;">
                        <div class="well">
                            <p>
                                <button type="button" class="btn btn-success btn-no-inside"  onclick="href('curso_menu.php');">
                                    <img src="icons/cursoLight.png" height="30px">Mostrar Todos
                                </button>
                                <button type="button" class="btn btn-success btn-no-inside" onclick="href('curso_insertar.php');">
                                    <img src="icons/plusLight.png" height="30px"> Agregar
                                </button>
                                <button type="button" class="btn btn-success btn-no-inside" onclick="hiddenElement('simpleSearch', 'false'); hiddenElement('advancedSearch', 'true');">Búsqueda Simple</button>
                            </p>
                            <p>
                                <input type="text" class="form-control" placeholder="ID" id="inputId" onkeyup="inputNumeric('inputId');" style="display:none">
                            </p><p>
                                <input type="text" class="form-control" placeholder="Nombre(s)" id="inputNames" onkeyup="inputName('inputNames')">
                                <input type="text" class="form-control" placeholder="Primer Apellido" id="inputLastname1" onkeyup="inputName('inputLastname1')">
                                <input type="text" class="form-control" placeholder="Segundo Apellido" id="inputLastname2" onkeyup="inputName('inputLastname2')">
                            </p><p>
                                <select class="form-control" id="selectTipo" style="margin-left: 5px">
                                    <optgroup>
                                        <option value="Todos">Selecionar Tipo</option>
                                        <option value="Admin">Administrador</option>
                                        <option value="Normal">Normal</option>
                                    </optgroup>
                                </select>
                                <input type="text" class="form-control" placeholder="^Código^" id="inputCodigo" onkeyup="inputNumeric('inputCodigo')">
                            </p><p>
                                <button type="button" class="btn btn-success btn-no-inside" onclick="advancedSearch('curso_menu.php')">
                                    <strong>Buscar</strong>
                                    <img src="icons/searchLight.png" height="30px">
                                </button>
                            </p>
                        </div>
                    </form>
                    <div class="container">
                        <div id="no-more-tables">
                            |tableContest|
                        </div>
                    </div>
                    <br>
                    <div class="alert alert-info" role="alert" style="text-align:center">
                            |buttonFirst||buttonPrev||buttonNext||buttonLast|
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    Quiz, Plataforma para crear Cuestionarios de manera simple
                </p>
            </div>
        </footer> 
  </body>
</html>