<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Quiz">
        <meta name="author" content="Jesxtra">

        <script type="text/javascript" src="../Libs/JQueryUI/JQuery.js"></script>
        <script type="text/javascript" src="../Libs/JQueryUI/jquery-ui.js"></script>
        <script type="text/javascript" src="../Libs/Bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="../Libs/Bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="JS/functions.js"></script>
        <script type="text/javascript" src="JS/ajaxfunctions.js"></script>

        <link rel="stylesheet" type="text/css" href="../Libs/Bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../Libs/Bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../Libs/Bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="../Libs/Bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../Libs/JQueryUI/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="CSS/general.css">
        <link rel="stylesheet" type="text/css" href="CSS/login.css">

        <title>Login</title>
    </head>
    <body role="document">
        |NavBar|  
        <div class="center" id="contenedor">
            <h2>Quiz</h2><br>
            <ul class="list-group">
                <br>
                <li>
                    <p class="notxtlogin" id='txtloginu' onclick="normalInputs('login.php')">
                        Código
                    </p>
                </li>
                <li>
                    <p class="txtlogin">
                        <input name="txtUser" type="text" id="txtUser" placeholder="Username" class="inputs" onclick="normalInputs('login.php')" focus>
                    </p>
                </li>
                <li>
                    <p class="txtlogin">
                        <button class="hvr-skew-forward btn btn-info" onclick="login()">
                            Acceder
                        </button>
                    </p>
                </li>
            </ul>
        </div>
    </body>
</html>